<form #df="ngForm" (ngSubmit)="onSubmit()">
  <input
    [ngClass]="{ test: !df.valid && df.submitted }"
    name="email"
    type="email"
    id="email"
    #email="ngModel"
    [(ngModel)]="form.email"
    required
    email
  />
  <div *ngIf="df.submitted && email.errors">
    <p *ngIf="email.errors?.['required']">The field email is required</p>
    <p *ngIf="email.errors?.['email']">Invalid email</p>
  </div>
  <!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
  <input
    type="password"
    name="password"
    [(ngModel)]="form.password"
    #password="ngModel"
    id="password"
    minlength="6"
    maxlength="15"
    required
  />

  <div *ngIf="df.submitted && password.errors">
    <p *ngIf="password.errors?.['required']">The field password is required</p>
    <p *ngIf="password.errors?.['minlength']">
      The password must be at least 6 characters long
    </p>
    <p *ngIf="password.errors?.['maxlength']">
      The password cannot be more than 15 characters long
    </p>
  </div>
  <!-- //////////////////////////////////////////////////////////////////////////////////////////////// -->
  <button type="submit">Envoyer</button>
  <p *ngIf="df.submitted && df.valid" type="button">Login Validé</p>
</form>
